body{
    background-color: #201F1F;
    color: #cccccc;
}
a{
    color: #cccccc;
    text-decoration: none;
}
.bg{
    background-color: #F9F4EC;
    color: #333333;
}
.ubg{
    background-color: #201F1F;
    color: #cccccc;
}
.blogIco .ico{
    background-image: url(../img/darkico.svg);
}
.infoIco{
    background-image: url(../img/email-white.png);
}
.cateitem.active a{
    border-bottom: 2px solid #cccccc;
}
.linktitle,.copyRight{
    color: #FFFFFF;
}
.markico{
    background-image: url(../img/markwhite.svg);
}
.articleDesc{
    color: #aaaaaa;
}
.articleTitle{
    color: #FFFFFF;
}
.tagsItem{
    border: 1px solid #333333;
}
.mobileMenu .cateitem a.focus{
    border-bottom: 2px solid #CCCCCC;
}