body{
    background-color: #F9F4EC;
    color: #333333;
}
a{
    color: #333333;
    text-decoration: none;
}
.bg{
    background-color: #201F1F;
    color: #cccccc;
}
.ubg{
    background-color: #F9F4EC;
    color: #333333;
}
.blogIco .ico{
    background-image: url(../img/lightico.svg);
}
.infoIco{
    background-image: url(../img/email-black.png);
}
.cateitem.active a{
    border-bottom: 2px solid #333333;
}
.linktitle,.copyRight{
    color: #000000;
}
.markico{
    background-image: url(../img/markblack.svg);
}
.articleItem{
    border-bottom: 1px solid #cccccc;
}
.articleDesc{
    color: #555555;
}
.articleTitle{
    color: #000000;
}
.tagsItem{
    border: 1px solid #cccccc;
}
.mobileMenu .cateitem a.focus{
    background-color: #333333;
    color: #cccccc;
}