/* 全局 */
*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: -apple-system;
    transition: all .6s;
    position: relative;
}
body{
    max-width: 840px;
    margin: 0 auto;
    position: relative;
}
/* swiper样式设置 */
.swiper-container{
    height: 100%;
}
.swiper-slide{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.menu {
    max-width: 320px;
}
/* 头部 */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
}
.blogIco{
    width: 40px;
    height: 40px;
    padding: 16px;
    border-radius: 50%;
}
.blogIco .ico{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.copyRight{
    margin-top: 10px;
    font-size: 1.125rem;
    font-weight: bold;
}
.themeL{
    transform: rotate(120deg);
}
.themeD{
    transform: rotate(-120deg);
}
.info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.info .infoIco{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* 菜单 */
.categroup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.cateitem{
    padding: 0 10px;
    cursor: pointer;
}
/* 底部 */
footer{
    width: 100%;
}
.linklist{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.linkitem{
    margin: 0 20px;
}
.linksublist{
    margin-top: 4px;
}
.linksubitem{
    font-size: 0.875rem;
    margin-bottom: 2px;
}
.footerico{
    width: 10px;
    height: 10px;
    padding: 4px;
}
.power{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.powertxt{
    font-size: 0.75rem;
    margin-left: 6px;
}
/* 页面 */
.container{
    min-height: 84px;
    padding: 20px;
}
.articleList{
    margin-top: 20px;
}
.articleItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.articleHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articleTitle{
    font-size: 1.125rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.articleDate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.articleDate .year{
    white-space: nowrap;
    font-size: 1rem;
}
.articleDate .date{
    white-space: nowrap;
    font-size: 0.725rem;
}
.articleDesc{
    font-size: 0.8rem;
    margin-top: 10px;
}
.articleTags{
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.tagsItem{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.725rem;
    padding: 2px 6px;
    border-radius: 100px;
    margin-right: 10px;
    margin-bottom: 6px;
    white-space: nowrap;
}
@media screen and (max-width: 750px) {
    .container{
        padding: 0;
    }
    .blogIco{
        width: 20px;
        height: 20px;
        padding: 6px;
    }
    .blogIco,.categroup{
        margin-bottom: 0;
    }
    .categroup{
        display: none;
    }
    .articleList{
        margin-top: 0;
    }
    .info{
        margin-top: 0;
    }
    .articleTitle{
        font-size: 1rem;
    }
    .articleDate{
        margin-left: 6px;
    }
    .linkitem{
        margin: 0 10px;
    }
}