/* 全局 */
*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: -apple-system;
    transition: all .6s;
    position: relative;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
li{
    list-style: none;
}
/* swiper样式设置 */
.swiper-container{
    height: 100%;
}
.swiper-slide{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.menu {
    max-width: 320px;
}
/* 头部 */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
}
.blogIco{
    width: 40px;
    height: 40px;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.blogIco .ico{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.copyRight{
    margin-top: 10px;
    font-size: 1.125rem;
    font-weight: bold;
}
.themeL{
    transform: rotate(120deg);
}
.themeD{
    transform: rotate(-120deg);
}
.info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.info .infoIco{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* 菜单 */
.categroup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.cateitem{
    padding: 0 10px;
    cursor: pointer;
}
.subnav{
    display: flex;
}
.mobileMenuBox{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobileMenu{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mobileMenu .cateitem{
    width: 100%;
    box-sizing: border-box;
}
.mobileMenu .cateitem a{
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.readtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 550;
    height: 40px;
}
.readlist{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.readlist .readitem{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: calc((100% - 40px) / 3);
}
.readlist .readitem:not(:nth-child(3n)){
    margin-right: 20px;
}
.readlist .readitem .readimg{
    width: 100%;
    height: auto;
}
.readlist .readitem .readimg img{
    width: 100%;
    height: 100%;
}
.readlist .readitem .readtxt{
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 10px;
    text-align: center;
}
.moreinfo{
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
}
.archlistbox{
    display: flex;
    flex-direction: column;
    height: 300px;
    flex: 1;
}
.archive-list{
    padding: 10px 24px;
    box-sizing: border-box;
}
.archive-list-item{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 底部 */
footer{
    width: 100%;
}
.linklist{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.linkitem{
    margin: 0 20px;
}
.linksublist{
    margin-top: 4px;
}
.linksubitem{
    font-size: 0.875rem;
    margin-bottom: 2px;
}
.footerico{
    width: 10px;
    height: 10px;
    padding: 4px;
}
.power{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.powertxt{
    font-size: 0.75rem;
    margin-left: 6px;
}
/* 分页 */
.pagebox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.pagebox .current,.pagebox .total{
    font-size: 0.875rem;
    margin: 0 10px;
}
.pagebox .current,.pagebox .prev{
    margin-right: 10px;
}
/* 首页 */
.container{
    padding: 20px;
    box-sizing: border-box;
}
.articleList{
    margin-top: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}
.articleItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
.articleHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articleTitle{
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.articleDate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.articleDate .year{
    white-space: nowrap;
    font-size: 1rem;
}
.articleDate .date{
    white-space: nowrap;
    font-size: 0.725rem;
}
.articleDesc{
    font-size: 0.8rem;
    margin-top: 10px;
}
.articleTags{
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.tagsItem{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.725rem;
    padding: 2px 6px;
    border-radius: 100px;
    margin-right: 10px;
    margin-bottom: 6px;
    white-space: nowrap;
    box-sizing: border-box;
}
/* 归档 */
.archbox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
}
.archcate{
    width: 30%;
}
.archlist{
    flex: 1;
    display: flex;
    flex-direction: column; 
}
.architem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.architem .archtit{
    display: flex;
    align-items: flex-end;
    padding: 0 8px;
    box-sizing: border-box;
}
.architem .archtit a{
    flex: 1;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.architem .archtit .archnum{
    font-size: 12px;
    margin-right: 10px;
}
.architem .archDate{
    font-size: 12px;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.architem .archDate .year{
    font-size: 14px;
}
.archive-list-count::after{
    content: "篇";
    margin-left: 4px;
}
.archive-list-link{
    flex: 1;
}
.catematch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.catematch .category-list,.tag-list{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.catematch .category-list .category-list-item,.tag-list-item{
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
}
.catematch .category-list .category-list-item .category-list-link,.tag-list-link{
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}
.catematch .category-list .category-list-item .category-list-count::after,.tag-list-count::after{
    content: '篇';
}
.nopaddTop{
    padding-top: 0;
    box-sizing: border-box;
}
.abouttitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}
.aboutbox{
    padding: 20px 0;
    box-sizing: border-box;
}
.aboutcontent{
    padding: 0 40px;
    box-sizing: border-box;
}
.aboutcontent p{
    text-indent: 2rem;
    text-align: justify;
    margin: 10px 0;
}
.detailtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.detailsubinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 14px;
}
.detailsubinfo .cdate{
    margin-right: 20px;
    margin-bottom: 10px;
}
.detailmain{
    display: flex;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: space-between;
}
.detailleft{
    margin-right: 40px;
}
.detailcate{
    margin-bottom: 20px;
}
.detailleft .tit{
    margin-bottom: 10px;
}
.detailcontent{
    width: 100px;
    flex: 1;
}
.detailcontent img{
    max-width: 100%!important;
}
.detailcontent *{
    white-space: pre-line!important;
}
@media screen and (max-width: 750px) {
    .container{
        padding: 0;
        box-sizing: border-box;
    }
    .blogIco{
        width: 20px;
        height: 20px;
        padding: 6px;
    }
    .blogIco,.categroup{
        margin-bottom: 0;
    }
    .categroup{
        display: none;
    }
    .articleList{
        margin-top: 0;
    }
    .info{
        margin-top: 0;
    }
    .articleTitle{
        font-size: 1rem;
    }
    .articleDate{
        margin-left: 6px;
    }
    .linkitem{
        margin: 0 10px;
    }
    .archcate{
        width: 100%;
        flex: 1;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .mobileMenu .cateitem{
        padding: 5px;
        box-sizing: border-box;
    }
    .archlist{
        flex: 1;
        width: 100%;
    }
    .archbunk{
        display: none;
    }
}